<!-- import -->
{% extends 'htmlFormat.html' %}

{% block intro%}
<!--
    this part is static, i just let my imagination run wild.
-->
<div id="intro" class="container">
    <h1>Formation Ingénieur Informatique Données Usages <strong>IDU</strong></h1>
    <p>
        La  formation permet  d’acquérir  des  compétences pour gérer des projets informatiques et mener à bien des missions pluridisciplinaires
        et <br> transversales dans des secteurs d’activités variés.
            L’organisation pédagogique repose sur :<br>

        
        <ul id="suite_text_intro">
            <li>
                un socle de connaissances en sciences fondamentales, langues vivantes et sciences humaines et sociales (SHES),
            </li>
            <li>
                des enseignements de spécialité orientés sur les mathématiques, la conception des systèmes informatiques, la science des données,
                les technologies et SHES spécifiques aux métiers de la donnée,
            </li>
            <li>
                des  enseignements d’approfondissement dans les disciplines de la spécialité, de nombreux projets.
            </li>
        </ul>
    </p>
</div>
{% endblock %}


<!-- part_req_graph -->
{% block part_req_graph %}
    <script type="text/javascript" src="static/JS/behavior.js"></script>
{% endblock %}

